@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);



#msg-box1-4 H2 {
  color: #ffffff;
}
#msg-box1-4 P {
  color: #ffffff;
  text-align: left;
}
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#features1-0 H4 {
  font-family: 'Alegreya Sans', sans-serif;
}
#features1-1 H4 {
  font-family: 'Alegreya Sans', sans-serif;
}
#features1-2 H4 {
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box1-f H2 {
  color: #ffffff;
}
#msg-box1-f P {
  color: #ffffff;
  text-align: left;
}
#dropdown-menu-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-g .nav .link,
#dropdown-menu-g .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-g .navbar,
#dropdown-menu-g .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-g .dropdown-menu a:hover,
#dropdown-menu-g .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-g .navbar-toggler {
  color: #000000;
}
#msg-box1-5 H2 {
  color: #ffffff;
}
#msg-box1-5 P {
  color: #ffffff;
  text-align: left;
}
#dropdown-menu-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6 .nav .link,
#dropdown-menu-6 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-6 .navbar,
#dropdown-menu-6 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6 .dropdown-menu a:hover,
#dropdown-menu-6 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-6 .navbar-toggler {
  color: #000000;
}
